﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "SOCK MARKET";
}
@if (Request.IsAuthenticated)
{
    <h3>Wellcome to the WORLD OF SOCKS.<a href="/Market/Marketplace/@User.Identity.GetUserId()">Start</a> trading NOW!</h3>
}
else
{
    <h3>In order to BUY and SELL socks <a href="/Account/Register">register</a> NOW!</h3>
}
