﻿@Styles.Render("~/Content/css")

@model IvanKolevBossSystem.Models.MarketplaceUserInfo
@{
    ViewBag.Title = "Marketplace";
}
<h2>Marketplace</h2>

<script src="@Url.Content("~/Scripts/custom.js")"></script>



<h4>User: @Model.User.FullName</h4>
<hr />
<div class="form-group">
    <div class="row">
        <div class="col-md-3">Available balance: </div>
        <div class="col-md-1">@Model.User.AvailableBalance</div>
    </div>
    <div class="row">
        <div class="col-md-3">Your Socks: </div>
        <div class="col-md-1">@Model.User.SocksCount</div>
    </div>
    <div class="row">
        <div class="col-md-3">Current Sock price: </div>
        <div class="col-md-1">@Model.Sock.Price</div>
    </div>
</div>

@using (Html.BeginForm("Marketplace", "Market"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Id)*@
        <input type="hidden" id="typeOfTransaction" name="typeOfTransaction" value="D">
        <input type="hidden" id="id" name="id" value="@Model.User.Id">
        <input type="text" id="money" name="money" />
        <p  id="deposit" class="btn btn-default">Deposit</p>
        @*<input type="submit" value="Add money to your account balance" class="btn btn-default" />*@
    </div>
}
@using (Html.BeginForm("Marketplace", "Market"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Id)*@
        <input type="hidden" name="typeOfTransaction" value="B">
        <input type="hidden" name="id" value="@Model.User.Id">
        <input type="text" name="numberOfSocks" />
        @if (Model.User.AvailableBalance < Model.Sock.Price)
        {
            <input type="submit" value="Buy socks" class="btn btn-default" disabled } />
        }
        else
        {
            <input type="submit" value="Buy socks" class="btn btn-default" } />
        }
    </div>
}
@using (Html.BeginForm("Marketplace", "Market"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Id)*@
        <input type="hidden" name="typeOfTransaction" value="S">
        <input type="hidden" name="id" value="@Model.User.Id">
        <input type="text" name="numberOfSocks" />
        @if (Model.User.SocksCount <= 0)
        {
            <input type="submit" value="Sell socks" class="btn btn-default" disabled } />
        }
        else
        {
            <input type="submit" value="Sell socks" class="btn btn-default" } />
        }


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




