﻿@Styles.Render("~/Content/css")

@model  IEnumerable<IvanKolevBossSystem.Models.Transaction>
@{
    ViewBag.Title = "Transactions";
}

<h2>All transactions</h2>
    <table>
        <tr>
            <th>USERNAME</th>
            <th>NUMBER OF SOCKS</th>
            <th>SOCK PRICE</th>
            <th>MONEY AMOUNT</th>
            <th>TRANSACTION TYPE</th>
            <th>DATE</th>
        </tr>

        @foreach (var transaction in Model)
        {
            <tr class="@transaction.TypeOfTransaction">
                <td>
                    @if (transaction.User.FullName != null)
                    {
                        @transaction.User.FullName@:(@transaction.User.Email)
                    }
                    else
                    {
                        @:N/A(@transaction.User.Email)
                    }
                </td>
                <td>@transaction.SockAmount</td>
                <td>@transaction.CurrentSockPrice</td>
                @if (transaction.TypeOfTransaction == "B")
                {
                    <td>- @transaction.AmountOfMoney</td>
                }
                else
                {
                    <td>+ @transaction.AmountOfMoney</td>
                }
                @if (transaction.TypeOfTransaction == "S")
                {
                    <td>SELL</td>
                }
                else
                {
                    <td>BUY</td>
                }
                <td>@(transaction.Date.ToString("MM/dd/yyyy HH:mm"))</td>
            </tr>
        }
    </table>