﻿@Styles.Render("~/Content/css")

@model  IEnumerable<IvanKolevBossSystem.Models.Transaction>
@{
    ViewBag.Title = "Your transactions";
}

<h2>Your transactions</h2>
    <table>
        <tr>
            <th>NUMBER OF SOCKS</th>
            <th>SOCK PRICE</th>
            <th>MONEY AMOUNT</th>
            <th>TRANSACTION TYPE</th>
            <th>ACCOUNT BALANCE</th>
            <th>DATE</th>
        </tr>

        @foreach (var transaction in Model)
        {
            <tr class="@transaction.TypeOfTransaction">
                @if (transaction.TypeOfTransaction != "D")
                {
                    if (transaction.TypeOfTransaction == "S")
                    {
                        <td>- @transaction.SockAmount</td>

                    }
                    else 
                    {
                        <td>+ @transaction.SockAmount</td>

                    }
                    <td>@transaction.CurrentSockPrice</td>
                }
                else
                {
                    <td>-</td>
                    <td>-</td>
                }
                @if (transaction.TypeOfTransaction == "B")
                {
                    <td>- @transaction.AmountOfMoney</td>
                    <td>BUY</td>
                }
                else if (transaction.TypeOfTransaction == "S")
                {
                    <td>+ @transaction.AmountOfMoney</td>
                    <td>SELL</td>
                }
                else
                {
                    <td>+ @transaction.AmountOfMoney</td>
                    <td>DEPOSIT</td>
                }
                
                
                <td>@transaction.CurrentAccBalance</td>
                <td>@(transaction.Date.ToString("MM/dd/yyyy HH:mm"))</td>
            </tr>
        }
    </table>
